
@model Vidly.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		We don't have any customers yet.
	</div>
}
else
{

	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>
					Customer
				</th>
                <th>
                    Discount rate
                </th>
                <th>
                    Discount Type
                </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Customers)
			{
				<tr>
                    <td>@Html.ActionLink(@item.Name, "", "Customers/CustomersDetails/" + @item.Id)</td>
                    <td>@item.MembershipType.DiscountRate%</td>
                    <td>@item.MembershipType.Name</td>
                </tr>
			}

		</tbody>
	</table>
}

